.swiper {
  padding-bottom: 40px !important;
}
.swiper > .swiper-pagination {
  position: absolute !important;
  bottom: 0 !important;
}

.swiper > .swiper-pagination .swiper-pagination-bullet {
  width: 15px !important;
  height: 15px !important;
}
